@media all and (max-width:659px) {
    #monitor {
        display: none;
    }

    #bezel {
        width: 100%;
        height: 100%;
        background-image: url(../img/tab_border.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        border-radius: 30px;
    }

    .screen,
    .app_screen {
        width: 89.7916vw;
        height: 120vw;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: absolute;
        top: 6%;
        left: 50%;
        border-radius: 10px;
    }

    #home_screen {
        background-image: url(../img/home_screen.jpg);
    }

    #home_today {
        width: auto;
        height: auto;
        margin: 6.5789vw;
        text-align: center;
        font-size: 30px;
    }

    #main_screen {
        background-color: #eaecf0;
        display: none;
    }

    .app_top_bar {
        width: 100%;
        height: 5.2631vw;
        background-color: #eaecf0;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

    #main_screen > .app_top_bar {
        background-color: transparent;
    }

    .status_icon {
        width: 3.9473vw;
        height: 2.7631vw;
        float: left;
        position: relative;
        margin: 1.0526vw 2.6315vw;
    }

    .status_icon > img {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        display: none;
    }

    .top_bar_right {
        float: right;
        width: auto;
        height: 5.2631vw;
    }

    .battery {
        width: 4.4736vw;
        height: 2.3684vw;
        float: left;
        margin-top: 1.5vw;
    }

    .battery > img {
        width: 100%;
        height: 100%;
    }

    .time {
        width: auto;
        height: 5.2631vw;
        float: right;
        font-size: 2.3684vw;
        text-align: center;
        line-height: 5.2631vw;
        color: #fff;
        text-shadow: -1px 1px 3px #000;
        margin: 0 5.2631vw 0 2.6315vw
    }

    #app_wrap {
        width: auto;
        overflow: hidden;
        margin: 5.2631vw;
    }

    #app_top_wrap,
    #app_bottom_wrap {
        width: auto;
        overflow: hidden;
    }

    .app_in_wrap {
        width: 13.1578vw;
        float: left;
        margin-right: 8.8vw;
        margin-bottom: 10.5263vw;
        cursor: pointer;
    }

    .app_in_wrap:last-child {
        margin-right: 0;
    }

    .app_icon {
        width: 10.5263vw;
        height: 10.5263vw;
        margin: 0 auto;
    }

    .app_icon > img {
        width: 100%;
        height: 100%;
    }

    .app_name {
        font-size: 2.3684vw;
        text-align: center;
        color: #fff;
        text-shadow: -1px 1px 3px #000;
    }

    .app_screen {
        display: none;
        background-color: #dfe1e4;
    }

    #home_but {
        width: 6.5789vw;
        height: 6.5789vw;
        position: absolute;
        bottom: 4%;
        left: 50%;
        cursor: pointer;
    }

    #home_but > img {
        width: 100%;
        height: 100%;
    }

    #me_wrap {
        width: auto;
        height: auto;
        display: inline-block;
        margin: 5.2631vw;
    }

    #me_img {
        width: 39.4736vw;
        height: 39.4736vw;
    }

    #me_img > img {
        width: 100%;
        height: 100%;
    }

    #me_txt_wrap {
        width: auto;
        height: auto;
        display: inline-block;
        margin-top: 5.2631vw;
    }

    #contact_wrap,
    #contact_bottom_wrap,
    .bottom_in_wrap,
    .con_wrap,
    #info_wrap,
    .info_in_wrap,
    .renwal_txt_wrap,
    #file_wrap,
    #file_bottom_wrap {
        width: 100%;
        overflow: hidden;
    }

    .app_title_wrap {
        width: 100%;
        height: 10.5263vw;
    }

    #contact_title {
        font-size: 3.9473vw;
        float: left;
        margin: 2.3157vw 0 0 40vw;
    }

    #plus {
        font-size: 5.2631vw;
        float: right;
        margin: 1.0526vw 5.2631vw 0 0;
    }

    #contact_middle_wrap {
        width: 100%;
        height: 13.1578vw;
    }

    #middle_icon {
        width: 10.5263vw;
        height: 10.5263vw;
        font-size: 3.9473vw;
        text-align: center;
        line-height: 10.5263vw;
        color: #fff;
        background-color: #3f4754;
        border-radius: 40px;
        float: left;
        margin: 1.3157vw 2.6315vw 1.3157vw 9.2105vw;
    }

    #middle_txt {
        font-size: 2.3684vw;
        line-height: 12.7631vw;
    }

    .contact_index {
        width: 100%;
        height: 3.9473vw;
        background-color: #3f4754;
        font-size: 2.3684vw;
        color: #fff;
        padding-left: 2.6315vw;
        box-sizing: border-box;
    }

    .con_wrap {
        padding: 1.3157vw 0 0 2.6315vw;
        box-sizing: border-box;
        margin-bottom: 5.2631vw;
    }

    .bottom_in_wrap:first-child > .con_wrap:nth-child(2) {
        margin-bottom: 0;
    }

    .contact_name,
    .contact_con {
        font-size: 2.3684vw;
        float: left;
    }

    .contact_con {
        font-weight: 300;
        margin-left: 2.6315vw;
    }

    #setting_wrap {
        width: 100%;
        height: 79.1666vw;
        position: relative;
    }

    .app_title,
    .right_wrap_title {
        width: 100%;
        height: 10.5263vw;
        font-size: 3.9473vw;
        text-align: center;
        line-height: 10.5263vw;
        border-bottom: 1px solid #3f4754;
        box-sizing: border-box;
    }

    #setting_left_wrap {
        width: 100%;
        height: 70.8333vw;
        border-right: 1px solid #3f4754;
        box-sizing: border-box;
        float: left;
    }

    .setting_left_in_wrap {
        width: auto;
        height: 6.5789vw;
        margin: 3.9473vw;
    }

    .setting_left_in_wrap:nth-child(4),
    .setting_left_in_wrap:nth-child(5) {
        cursor: pointer;
    }

    .setting_icon {
        width: 6.5789vw;
        height: 6.5789vw;
        float: left;
    }

    .setting_icon > img {
        width: 100%;
        height: 100%;
    }

    .setting_name {
        font-size: 2.3684vw;
        line-height: 6.5789vw;
        margin-left: 2.6315vw;
        display: inline-block;
        float: left;
    }

    .name_wifi {
        height: 6.5789vw;
        overflow: hidden;
    }

    .but_wrap {
        width: 7.2368vw;
        height: 3.6842vw;
        float: right;
        position: relative;
        margin-top: 1.4473vw;
    }

    .but_bar,
    .circle_but {
        width: 6.9736vw;
        height: 3.4210vw;
        border-radius: 12px;
        background-color: #fff;
        border: 1px solid #3f4754;
        position: absolute;
        top: 0;
        left: 0;
    }

    .circle_but {
        width: 3.5526vw;
        height: 3.5526vw;
        border-radius: 14px;
        box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.5);
    }

    #setting_middle_bar {
        width: 100%;
        height: 5.2631vw;
        background-color: #eaecf0;
        margin-bottom: 3.9473vw;
    }

    .setting_right_wrap {
        width: 100%;
        height: 70.8333vw;
        float: left;
        position: absolute;
        top: 0;
        left: 0;
        display: none;
        background-color: #dfe1e4;
    }

    .app_back {
        width: 4.2105vw;
        height: 4.2105vw;
        float: left;
        margin: 3.1578vw;
        cursor: pointer;
    }

    .app_back > img {
        width: 100%;
        height: 100%;
    }

    .title_name {
        float: left;
        margin: 0 28vw;
    }

    .setting_right_wrap:nth-child(4) .title_name {
        margin: 0 32vw;
    }

    #right_wrap_sub_title {
        width: 60.5263vw;
        overflow: hidden;
        font-size: 2.3684vw;
        font-weight: 300;
        margin: 0 auto;
        margin-top: 3.9473vw;
    }

    #setting_bg_wrap {
        width: 60.5263vw;
        height: 43.4210vw;
        margin: 1.3157vw auto;
        padding: 2.6315vw 0 0 2.6315vw;
        box-sizing: border-box;
        background-color: #fff;
    }

    .setting_bg {
        width: 26.3157vw;
        height: 17.5vw;
        float: left;
        margin: 0 2.6315vw 2.6315vw 0;
        cursor: pointer;
    }

    .setting_bg > img {
        width: 100%;
        height: 100%;
    }

    #info_wrap {
        padding: 3.9473vw;
        box-sizing: border-box;
    }

    .info_in_wrap {
        margin-bottom: 1.3157vw;
        font-size: 2.3684vw;
    }

    .info_title {
        width: 83px;
        height: auto;
        float: left;
    }

    .info_txt {
        font-weight: 300;
        margin-left: 5.2631vw;
        float: left;
    }

    #app_life {
        background-color: transparent;
    }

    #app_life > .app_in_wrap {
        width: 52.6315vw;
        float: left;
        margin-right: 8.8vw;
        margin-bottom: 10.5263vw;
        cursor: pointer;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -30.2631vw;
        margin-left: -26.3157vw;
    }

    #app_life .app_icon {
        width: 52.6315vw;
        height: 52.6315vw;
    }

    #app_life .app_name {
        font-size: 5.3684vw;
        text-align: center;
        color: #fff;
        text-shadow: -1px 1px 3px #000;
    }
    
        #app_graphic_scroll {
        width: auto;
        height: 114.8vw;
        overflow-x: hidden;
    }

    .graphic_wrap {
        width: 90%;
        height: 60%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        margin: 10% 5%;
    }

    .graphic_wrap:nth-child(1) {
        background-image: url(../img/polygone_art.jpg);
    }

    .graphic_wrap:nth-child(2) {
        background-image: url(../img/label.jpg);
        height: 40%;
    }

    .graphic_wrap:nth-child(3) {
        background-image: url(../img/illu.jpg);
    }

    .graphic_wrap:nth-child(4) {
        background-image: url(../img/room.jpg);
    }

    .graphic_wrap:nth-child(5) {
        background-image: url(../img/sketch.jpg);
    }

    .graphic_wrap:nth-child(6) {
        background-image: url(../img/neonsign.jpg);
    }

    .app_graphic_txt {
        width: 100%;
        height: 100%;
        display: none;
        font-size: 3.8961vw;
        color: white;
        padding: 2%;
        box-sizing: border-box;
    }

    .portfolio_wrap {
        width: 78.9473vw;
        overflow: hidden;
        margin: 1.3157vw auto;
    }

    .renwal_img {
        width: 78.9473vw;
        height: 40.1315vw;
    }

    .renwal_img > img {
        width: 100%;
        height: 100%;
    }

    .renwal_txt_left_wrap,
    .renwal_txt_right_wrap {
        width: 40%;
        overflow: hidden;
        float: left;
        margin-top: 3.9473vw;
    }

    .renwal_txt_right_wrap {
        width: 60%;
        margin-top: 2.7vw;
    }

    .app_txt_wrap {
        width: auto;
        height: auto;
        margin-bottom: 2.6315vw;
    }

    #hanwha_app_txt_wrap,
    #garglin_app_txt_wrap {
        display: none;
    }

    .app_txt_title_wrap,
    #view {
        width: auto;
        height: auto;
        display: inline-block;
    }

    .app_bar {
        width: 0.5263vw;
        height: 2.6315vw;
        background-color: #333;
        float: left;
        margin: 3.5px 1.3157vw 0 0;
    }

    .app_txt_title {
        float: left;
    }

    .app_cont {
        margin-left: 1.9736vw;
        font-weight: 300;
    }

    #view {
        float: right;
    }

    #file_top_wrap {
        width: 100%;
        height: 10.5263vw;
        background-color: #e2c221;
    }

    #file_top_left,
    #file_top_right {
        width: auto;
        height: auto;
        float: left;
        margin-left: 5.2631vw;
        margin-top: 2.3026vw;
    }

    #menu_but {
        width: 4.2105vw;
        height: 2.7631vw;
        margin: 1.5789vw 0;
    }

    #file_app_name {
        font-size: 3.9473vw;
        margin-left: 3.9473vw;
    }

    #file_top_right {
        float: right;
        margin-top: 3.1578vw;
    }

    #search_but {
        width: 4.2105vw;
        height: 4.2105vw;
    }

    #more_but {
        width: 1.0526vw;
        height: 4.2105vw;
        margin: 0 5.2631vw;
    }

    #file_top_left > div,
    #file_top_right > div {
        float: left;
    }

    #file_top_wrap img {
        width: 100%;
        height: 100%;
    }

    #file_con {
        width: 82.8125vw;
        height: 61.1458vw;
        margin: 5.2631vw auto;
    }

    #file_con > img {
        width: 100%;
        height: 100%;
    }

}

/*end*/
