 @media all and (max-width:759px) and (min-width:700px) {
            #monitor {
                display: none;
            }

            .screen,
            .app_screen {
                height: 105vw;
            }

            #home_today {
                margin: 6.5789vw;
                font-size: 30px;
            }

            .app_top_bar {
                height: 5.2631vw;
            }

            .status_icon {
                width: 3.9473vw;
                height: 2.7631vw;
                margin: 1.0526vw 2.6315vw;
            }

            .top_bar_right {
                float: right;
                width: auto;
                height: 5.2631vw;
            }

            .battery {
                width: 4.4736vw;
                height: 2.3684vw;
                float: left;
                margin-top: 1.5vw;
            }

            .time {
                height: 5.2631vw;
                font-size: 2.3684vw;
                line-height: 5.2631vw;
                text-shadow: -1px 1px 3px #000;
                margin: 0 5.2631vw 0 2.6315vw
            }

            #app_wrap {
                margin: 5.2631vw;
            }

            .app_in_wrap {
                width: 13.1578vw;
                margin-right: 8.8vw;
                margin-bottom: 10.5263vw;
            }

            .app_icon {
                width: 10.5263vw;
                height: 10.5263vw;
                margin: 0 auto;
            }

            .app_name {
                font-size: 2.3684vw;
                text-shadow: -1px 1px 3px #000;
            }

            #home_but {
                width: 6.5789vw;
                height: 6.5789vw;
                bottom: 4%;
            }

            #me_wrap {
                width: auto;
                height: auto;
                display: inline-block;
                margin: 5.2631vw;
            }

            #me_img {
                width: 39.4736vw;
                height: 39.4736vw;
            }

            #me_txt_wrap {
                margin-top: 5.2631vw;
            }

            .app_title_wrap {
                width: 100%;
                height: 10.5263vw;
            }

            #contact_title {
                font-size: 3.9473vw;
                float: left;
                margin: 2.3157vw 0 0 40vw;
            }

            #plus {
                font-size: 5.2631vw;
                float: right;
                margin: 1.0526vw 5.2631vw 0 0;
            }

            #contact_middle_wrap {
                width: 100%;
                height: 13.1578vw;
            }

            #middle_icon {
                width: 10.5263vw;
                height: 10.5263vw;
                font-size: 3.9473vw;
                line-height: 10.5263vw;
                margin: 1.3157vw 2.6315vw 1.3157vw 9.2105vw;
            }

            #middle_txt {
                font-size: 2.3684vw;
                line-height: 12.7631vw;
            }

            .contact_index {
                height: 3.9473vw;
                font-size: 2.3684vw;
                padding-left: 2.6315vw;
            }

            .con_wrap {
                padding: 1.3157vw 0 0 2.6315vw;
                box-sizing: border-box;
                margin-bottom: 5.2631vw;
            }

            .contact_name,
            .contact_con {
                font-size: 2.3684vw;
                float: left;
            }

            .contact_con {
                font-weight: 300;
                margin-left: 2.6315vw;
            }

            .app_title,
            .right_wrap_title {
                height: 10.5263vw;
                font-size: 3.9473vw;
                line-height: 10.5263vw;
            }

            #setting_left_wrap {
                width: 100%;
                height: 70.8333vw;
            }

            .setting_left_in_wrap {
                width: auto;
                height: 6.5789vw;
                margin: 3.9473vw;
            }

            .setting_icon {
                width: 6.5789vw;
                height: 6.5789vw;
                float: left;
            }

            .setting_name {
                font-size: 2.3684vw;
                line-height: 6.5789vw;
                margin-left: 2.6315vw;
            }

            .name_wifi {
                height: 6.5789vw;
                overflow: hidden;
            }

            .but_wrap {
                width: 7.2368vw;
                height: 3.6842vw;
                float: right;
                position: relative;
                margin-top: 1.4473vw;
            }

            .but_bar,
            .circle_but {
                width: 6.9736vw;
                height: 3.4210vw;
            }

            .circle_but {
                width: 3.5526vw;
                height: 3.5526vw;
            }

            #setting_middle_bar {
                height: 5.2631vw;
                margin-bottom: 3.9473vw;
            }

            .setting_right_wrap {
                width: 100%;
                height: 70.8333vw;
                background-color: #dfe1e4;
            }

            .app_back {
                width: 4.2105vw;
                height: 4.2105vw;
                margin: 3.1578vw;
            }

            .title_name {
                float: left;
                margin: 0 28vw;
            }

            .setting_right_wrap:nth-child(4) .title_name {
                margin: 0 32vw;
            }

            #right_wrap_sub_title {
                width: 60.5263vw;
                font-size: 2.3684vw;
                margin-top: 3.9473vw;
            }

            #setting_bg_wrap {
                width: 60.5263vw;
                height: 43.4210vw;
                margin: 1.3157vw auto;
                padding: 2.6315vw 0 0 2.6315vw;
            }

            .setting_bg {
                width: 26.3157vw;
                height: 17.5vw;
                margin: 0 2.6315vw 2.6315vw 0;
            }

            #info_wrap {
                padding: 3.9473vw;
                box-sizing: border-box;
            }

            .info_in_wrap {
                margin-bottom: 1.3157vw;
                font-size: 2.3684vw;
            }

            .info_txt {
                margin-left: 5.2631vw;
            }

            #app_graphic_scroll {
                height: 99.8vw;
            }

            .app_graphic_txt {
                font-size: 3.9473vw;
            }

            .portfolio_wrap {
                width: 78.9473vw;
                overflow: hidden;
                margin: 1.3157vw auto;
            }

            .renwal_img {
                width: 78.9473vw;
                height: 40.1315vw;
            }

            .renwal_txt_left_wrap,
            .renwal_txt_right_wrap {
                margin-top: 3.9473vw;
            }

            .app_txt_wrap {
                margin-bottom: 2.6315vw;
            }

            #hanwha_app_txt_wrap,
            #garglin_app_txt_wrap {
                display: none;
            }

            .app_bar {
                width: 0.5263vw;
                height: 2.6315vw;
                margin: 3.5px 1.3157vw 0 0;
            }

            .app_cont {
                margin-left: 1.9736vw;
                font-weight: 300;
            }

            #file_top_wrap {
                height: 10.5263vw;
            }

            #file_top_left,
            #file_top_right {
                margin-left: 5.2631vw;
                margin-top: 2.3026vw;
            }

            #menu_but {
                width: 4.2105vw;
                height: 2.7631vw;
                margin: 1.5789vw 0;
            }

            #file_app_name {
                font-size: 3.9473vw;
                margin-left: 3.9473vw;
            }

            #file_top_right {
                float: right;
                margin-top: 3.1578vw;
            }

            #search_but {
                width: 4.2105vw;
                height: 4.2105vw;
            }

            #more_but {
                width: 1.0526vw;
                height: 4.2105vw;
                margin: 0 5.2631vw;
            }

            #file_con {
                width: 82.8125vw;
                height: 61.1458vw;
                margin: 5.2631vw auto;
            }
        }