@media all and (max-width:959px) and (min-width:760px) {
    header {
        width: 100%;
        height: 80px;
        background-color: rgba(256, 256, 256, 0.8);
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
    }

    nav {
        width: 100%;
        height: 80px;
    }

    #logo {
        width: 145px;
        height: 43px;
        float: left;
        margin: 18.5px 0 0 20px;
    }
    
    #toggle,
    #toggle_label,
    #m_main_menu {
        display: none;
    }

    #main_menu {
        width: auto;
        height: 80px;
        float: right;
        text-align: center;
        margin-right: 20px;
    }

    #main_menu > li {
        float: left;
        padding: 0 12px;
        line-height: 80px;
    }

    #main_menu > li > a {
        font-size: 16px;
    }

    .sub_menu {
        text-align: center;
        display: none;
    }

    .sub_menu > li {
        line-height: 40px;
    }

    .sub_menu > li > a {
        font-size: 14px;
        color: #fff;
    }

    #main_menu > li > a:hover {
        color: #f47324;
    }

    #main_menu > li:hover > .sub_menu {
        display: block;
    }

    .sub_menu > li:hover {
        border-bottom: 1px solid #f47324;
        box-sizing: border-box;
    }

    /*header end*/
    
    section {
        width: 100%;
        height: 1080px;
        float: left;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    #section_1 {
        height: 700px;
        background-image: url(../img/startup-593341_1920.jpg);
        background-blend-mode: darken;
        background-color: rgba(0, 0, 0, 0.6);
        float: left;
    }


    #main_title {
        width: auto;
        height: auto;
        font-size: 40px;
        font-weight: 700;
        color: #fff;
        margin: 350px 0 0 7%;
    }

    #main_small_title {
        font-size: 18px;
        font-style: italic;
        font-weight: 100;
        color: #fff;
        line-height: 40px;
        margin: 5px 0 0 7%;
    }

    /*section_1 end*/
    
    .fixed {
        width: 100%;
        height: 360px;
        background-color: rgba(256, 256, 256, 0.60);
    }
    #section_2 {
        background-image: url(../img/new_door_long_edit.jpg);
        background-attachment: fixed;
    }

    .txt_wrap {
        width: auto;
        height: auto;
        display: inline-block;
        margin-top: 50px;
    }
    #section_2 .txt_wrap,
    #section_4 .txt_wrap {
        text-align: left;
        float: left;
        margin-left: 50px;
    }
    .title {
        font-size: 45px;
    }

    .small_title {
        font-size: 20px;
        font-weight: 300;
        margin-top: 10px;
    }

    .cont {
        font-size: 16px;
        font-weight: 300;
        margin-top: 50px;
        display: none;
    }

    .more {
        width: 120px;
        height: 30px;
        border: 1px solid #333;
        box-sizing: border-box;
        text-align: center;
        margin-top: 50px;
        float: right;
    }

    .more > a {
        font-size: 16px;
    }

    #section_2 .more,
    #section_4 .more {
        float: left;
    }

    /*section_2 end*/
    #section_3 {
        background-image: url(../img/new_wallpaper.jpg);
        background-attachment: fixed;
    }

    #section_3 .txt_wrap,
    #section_5 .txt_wrap,
    #section_6 .txt_wrap {
        text-align: right;
        float: right;
        margin-right: 50px;
    }



    /*section_3 end*/
    #section_4 {
        background-image: url(../img/new_flim_edit.jpg);
        background-attachment: fixed;
    }


    /*section_4 end*/
    #section_5 {
        background-image: url(../img/flooring_edit.jpg);
        background-attachment: fixed;
    }


    /*section_5 end*/
    #section_6 {
        background-image: url(../img/new_table_edit.jpg);
        background-attachment: fixed;
    }


    /*section_6 end*/
    #section_7 {
        position: relative;
    }

    #box_wrap {
        width: 80%;
        overflow: hidden;
        margin: 110px auto;
    }

    .box {
        width: 100%;
        height: 200px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        background-blend-mode: darken;
        background-color: rgba(0, 0, 0, 0.6);
        margin-top: 30px;
        float: left;
    }

    #box_1 {
        background-image: url(../img/find_img.jpg);
        margin-top: 0;
    }

    #box_2 {
        background-image: url(../img/news_img.jpg);
    }

    #box_3 {
        background-image: url(../img/sns_img.jpg);
        margin-right: 0;
    }

    .box_txt {
        width: 100%;
        height: auto;
        margin: 66px 50px;
    }
    #box_3 .box_txt{
        margin: 50px;
    }

    .top_txt {
        width: auto;
        overflow: hidden;
        color: #f47324;
        font-size: 24px;
        font-weight: 900;
    }

    .bar {
        width: 4px;
        height: 22px;
        background-color: #f47324;
        margin: 7px 8px 0 0;
    }

    .bar,
    .top_title {
        float: left;
    }

    .bottom_txt {
        color: #fff;
        font-size: 22px;
        font-weight: 200;
    }

    footer {
        width: 100%;
        height: 200px;
        background-color: #f47324;
        color: #fff;
        position: absolute;
        bottom: 0;
        left: 0;
    }

    #in_wrap {
width: 100%;
        overflow: hidden;
        margin: 48px auto;
    }

    #ft_logo {
        width: 30%;
        height: 100%;
        float: left;
        padding-left: 10px;
        box-sizing: border-box;
    }

    #ft_logo img {
        width: 200px;
    }

    #ft_right {
        float: right;
        width: 70%;
        height: 100%;
        overflow: hidden;
    }

    #ft_menu {
        width: auto;
        height: auto;
        display: inline-block;
        font-size: 14px;
        margin-top: 5px;
    }

    #ft_menu > li {
        float: left;
        width: auto;
        height: auto;
        margin-right: 30px;
    }
    
    #ft_menu > li>a{
        color: #fff;
    }

    #info,
    #copy {
        font-size: 12px;
        font-weight: 300;
        margin-top: 10px;
    }


}
