@media all and (max-width:759px) and (min-width:500px) {

    .swiper-pagination-bullet {
        width: 10px;
        height: 10px;
    }

    .swiper-slide {
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    .swiper-slide:nth-child(1) {
        background-image: url(../img/main_m.jpg);
    }

    .swiper-slide:nth-child(2) {
        background-image: url(../img/img_1_m.jpg);
    }
    
    #mask {
        position: absolute;
        width: 90%; height: 100%;
        z-index: 9;
    }

    #toggle {
        display: none;
    }

    #toggle_label {
        display: block;
        width: 40px;
        height: 40px;
        position: absolute;
        top: 40px;
        left: 40px;
        z-index: 1;
        cursor: pointer;
    }

    #toggle_lable > img {
        width: 100%;
        height: 100%;
    }

    #menu_wrap {
        width: 111%;
        height: 100%;
        background-color: #fff;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 999;
        display: none;
    }

    #header {
        width: auto;
        height: 85%;
        padding: 40px;
        box-sizing: border-box;
    }

    #header_top,
    #header_bottom {
        width: 100%;
        overflow: hidden;
    }

    #close {
        width: 40px;
        height: 40px;
        float: left;
        cursor: pointer;
    }

    #close > img {
        width: 100%;
        height: 100%;
    }

    #logo {
        width: 195px;
        height: 67px;
        float: right;
    }

    #logo img {
        width: 100%;
        height: 100%;
    }

    #header_bottom {
        margin-top: 10.5263vw;
    }

    #header_bottom > li {
        width: 100%;
        height: 30px;
        line-height: 30px;
        font-size: 30px;
        margin-bottom: 80px;
    }

    #header_bottom > li:last-child {
        margin-bottom: 0;
        padding-bottom: 20px;
    }

    #header_bottom > li > a {
        color: #013b60;
    }

    #footer {
        width: 100%;
        height: 15%;
        background-color: #013b60;
        padding: 0 40px;
        box-sizing: border-box;
    }

    #footer_top {
        width: 100%;
        height: 80px;
        padding: 25px 0;
        box-sizing: border-box;
    }

    #f_logo {
        width: 159px;
        height: 30px;
        float: left;
    }

    #sns {
        width: 150px;
        height: 30px;
        float: right;
    }

    .icon {
        width: 30px;
        height: 30px;
        margin-right: 10px;
        float: left;
    }

    .icon:last-child {
        margin-right: 0;
    }

    .icon img {
        width: 100%;
        height: 100%;
    }

    #footer_bottom {
        width: 100%;
        height: 40px;
        font-size: 14px;
    }

    .swiper-slide:nth-child(2) > .txt_box:first-child {
        margin: 75px 120px 0 0;
    }

    .txt_box {
        width: auto;
        height: auto;
        float: right;
        margin-top: 80px;
        margin-right: 20px;
    }

    .title {
        width: auto;
        height: 50px;
        display: inline-block;
        line-height: 46px;
        font-size: 24px;
        background-color: #fff;
        font-weight: 900;
        padding: 0 10px;
    }

    #title_1 {
        color: #abbf4e;
    }

    .small_title {
        font-size: 24px;
        font-weight: 900;
        margin-top: 10px;
    }

    .bar {
        width: 250px;
        height: 2px;
        background-color: #fff;
        margin: 20px 0;
        display: none;
    }

    .cont {
        font-size: 30px;
        display: none;
    }

    .swiper-slide:nth-child(3) {
        background-image: url(../img/img_2_m.jpg);
    }

    .swiper-slide:nth-child(3) > .txt_box:first-child {
        margin: 84px 40px 0 0;
    }

    #title_2 {
        color: #0384bd;
    }

    .swiper-slide:nth-child(4) {
        background-image: url(../img/img_3_m.jpg);
    }

    #title_3 {
        color: #a13e97;
    }

    .swiper-slide:nth-child(5) {
        background-image: url(../img/img_4_m.jpg);
    }

    .swiper-slide:nth-child(5) > .txt_box:first-child {
        margin: 100px 20px;
        0 0;
    }

    #title_4 {
        color: #dc2543;
    }

}
