@media all and (min-width:1200px) {

    .swiper-pagination-bullet {
        width: 20px;
        height: 20px;
    }

    .swiper-slide {
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    .swiper-slide:nth-child(1) {
        background-image: url(../img/main.jpg);
    }

    .swiper-slide:nth-child(2) {
        background-image: url(../img/img_1.jpg);
    }

    #mask {
        position: absolute;
        height: 100%; width: 600px;
        z-index: 9;
    }

    #toggle {
        display: none;
    }

    #toggle_label {
        display: block;
        width: 40px;
        height: 40px;
        position: absolute;
        top: 40px;
        left: 40px;
        z-index: 1;
        cursor: pointer;
    }

    #toggle_lable > img {
        width: 100%;
        height: 100%;
    }

    #menu_wrap {
        width: 600px;
        height: 100%;
        background-color: #fff;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 999;
        display: none;
    }

    #header {
        width: auto;
        height: 85%;
        padding: 40px;
        box-sizing: border-box;
    }

    #header_top,
    #header_bottom {
        width: 100%;
        overflow: hidden;
    }

    #close {
        width: 40px;
        height: 40px;
        float: left;
        cursor: pointer;
    }

    #close > img {
        width: 100%;
        height: 100%;
    }

    #logo {
        width: 195px;
        height: 67px;
        float: right;
    }

    #logo img {
        width: 100%;
        height: 100%;
    }

    #header_bottom {
        margin-top: 4.1666vw;
    }

    #header_bottom > li {
        width: 100%;
        height: 30px;
        line-height: 30px;
        font-size: 30px;
        margin-bottom: 80px;
    }

    #header_bottom > li:last-child {
        margin-bottom: 0;
        padding-bottom: 20px;
    }

    #header_bottom > li > a {
        color: #013b60;
    }

    #footer {
        width: 100%;
        height: 15%;
        background-color: #013b60;
        padding: 0 40px;
        box-sizing: border-box;
    }

    #footer_top {
        width: 100%;
        height: 80px;
        padding: 25px 0;
        box-sizing: border-box;
    }

    #f_logo {
        width: 159px;
        height: 30px;
        float: left;
    }

    #sns {
        width: 150px;
        height: 30px;
        float: right;
    }

    .icon {
        width: 30px;
        height: 30px;
        margin-right: 10px;
        float: left;
    }

    .icon:last-child {
        margin-right: 0;
    }

    .icon img {
        width: 100%;
        height: 100%;
    }

    #footer_bottom {
        width: 100%;
        height: 40px;
        font-size: 14px;
    }

    .txt_box {
        width: auto;
        height: auto;
        float: right;
        margin-top: 13.75vw;
        margin-right: 29.0104vw;
    }

    .title {
        height: 60px;
        line-height: 50px;
        font-size: 40px;
        text-align: center;
        background-color: #fff;
        font-weight: 900;
    }

    #title_1 {
        width: 200px;
        color: #abbf4e;
    }

    .small_title {
        font-size: 30px;
        font-weight: 900;
        margin-top: 40px;
    }

    .bar {
        width: 350px;
        height: 2px;
        background-color: #fff;
        margin: 20px 0;
    }

    .cont {
        font-size: 30px;
    }

    .swiper-slide:nth-child(3) {
        background-image: url(../img/img_2.jpg);
    }

    #title_2 {
        width: 300px;
        color: #0384bd;
    }

    .swiper-slide:nth-child(4) {
        background-image: url(../img/img_3.jpg);
    }

    #title_3 {
        width: 380px;
        color: #a13e97;
    }

    .swiper-slide:nth-child(5) {
        background-image: url(../img/img_4.jpg);
    }

    #title_4 {
        width: 300px;
        color: #dc2543;
    }
}
